/* --- Estilos contenido principal --- */
main{
    padding:40px 15px 35px 15px;
}
/* Modulos */
.modulo{
    /* width:380px !important; */
    border:1px solid #e7e7e7;
    float: left;
    margin: 0 30px 31px 0;
    border-radius: 5px;
    background: #e7e7e7;
    box-shadow:2px 4px 8px rgba(0, 18, 32, 0.336) ;
    color:#33406A;
    font-family: 'righteous';
    padding: 5px 10px !important;
}
.consult-inscriptions-2{
    display:none;
}
.cantidad{
    width: 60%;
    height: 50px;
    float:left;
}
.modulo .icono{
    height: 50px;
    width: 40%;
    float:left;
    color: rgb(28, 30, 32);
    font-size: 45px;
    text-align: right;
}
.modulo a {
    width: 100%;
    color: #2A6378;
}

/* Seccion derecha */
aside .novedades-eventos{
    border-radius: 5px;
    background: rgb(28, 30, 32);
    box-shadow:2px 4px 8px rgba(0, 18, 32, 0.336) ;
    margin-bottom: 30px;
    width:100%;
}
aside .novedades-eventos h6{
    padding: 10px 0 0 16px;
    color:#FFFFFF;
    font-size: 16px;
    font-family: 'righteous';
}
#lista {
    background: #FFFFFF;
    margin: 0;
    padding-bottom: 18px;
}
.icalendar{
    color:white;
    padding-right: 5px;
}
aside .novedades-eventos ul li{
    border-bottom: 1px solid #e7e7e7;
    padding: 17px 16px 10px 16px;
}
aside .novedades-eventos ul li:hover{
    background:rgba(189, 189, 189, 0.123)!important;
}
ul li .date{
    color:#2A6378;
}
aside .novedades-eventos .link{
    padding:10px 10px;
    list-style: none;
}
aside .novedades-eventos .link li a {
    color:#FFFFFF;
    font-family: 'righteous';
}
aside .novedades-eventos .link li a:hover {
    color:#e7e7e7;
}
.greater{
    font-size: 12px;
    padding-left: 5px;
}
.pdf{
    color: red;
    padding-right: 13px;
}
#lista a {
    color:rgb(28, 30, 32);
    font-family:'helvetica';
}
