/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/05/2020, 12:17:28 AM
    Author     : HUERTAS
*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Helvetica';
}
body{
    background-image:url(../../img/conjunto-lucerna.png);
    background-size:100% 100%;
    background-attachment: fixed;
}
header img{
    width: 300px;
}
header{    
    margin-top: 50px !important;
    min-height: 115px;
    border-radius: 4px 4px 0 0 ;
    box-shadow: 2px 0px 3px 0px rgba(0,0,0, 0.3);
    position: relative;
    min-height: 70px;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.container{
    margin:0 auto;
    background: #ffffff;
    box-shadow: 2px 0px 3px 0px rgba(0,0,0, 0.3);
    border-radius: 0 0 4px 4px ;
}
.titulo{
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.titulo h1{
    font-size: 30px;
    color:#33406A;
}

/* Scroll */
body::-webkit-scrollbar {    
	width: 10px;
	height: 5px;
}
body::-webkit-scrollbar-thumb {
    background:#c1c1d3;
    border-radius:5px;
}
body::-webkit-scrollbar-thumb:hover {
    background:#c1c1d3;
}
body::-webkit-scrollbar-track {
    background:#FFFFFF;
}
