body{
    transition: padding-top 0.5s ease;
    padding-top: 270px;

    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0%;
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    z-index: -1;
}
.caaa{
    width: 100%;
    height: 120vh;
    background-color: #212525a2;
}
header{
    width: 100%;
    height: 300px;
    background: #03566b;
    text-align: center;
    position: fixed;
    top: 0%;
    overflow: hidden;
    transition: all 0.5s ease;
}
header .logo{
    padding-top: 30px;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
}
header nav{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: rgb(10, 50, 68);
}
header nav a{
    color: white;
    display: inline-block;
    padding: 10px 65px;
    line-height: 1;
    text-decoration: none;
    border-radius:5px
}
header nav a .ok :hover{
    color:rgb(66, 3, 82);
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    position: fixed;
    font-weight: 400;
    margin: 10% 40%;
    width: 300px;
    line-height: 2;
    color: #ffffff;
}
p{
    font-size: 60px ;
    width: 500px;
    margin-bottom: 2rem;
    line-height: 2;
    color: #bae6e9;
    position: fixed;
    margin: 20% 30.4%;

}
.todo{
    max-width: 800px;
    margin: 0% auto;
}
section{
    margin: 10px;
    padding: 20px;
     background: write;
     border-radius: 4px;
     box-sizing: 0 1px 0 rgba(0,0,0,0.2);
}
body.sticky-header{
    padding: 0px;
}
body.sticky-header header{
    height: 60px;
   
    background: #1614a8;
}
body.sticky-header header h1{
    transform: scale(0,0);
}