*{
	margin:0%;
	box-sizing: border-box;
	padding: 0%;
}
/*Propiedades para el contenedor principal*/
.contenedor{
	width: 100%;
	margin:auto;
	max-width: 1920px;
}
/* Scroll */
body::-webkit-scrollbar {    
	width: 10px;
	height: 5px;
}
body::-webkit-scrollbar-thumb {
    background:#e7e7e7 ;
    border-radius:5px;
}
body::-webkit-scrollbar-thumb:hover {
    background:#c1c1d3;
}
body::-webkit-scrollbar-track {
    background:#FFFFFF;
}
/* Estilos generales */
ul{
	margin-bottom: 0;
	margin-top:0;
    list-style: none;
}
a:hover{
	text-decoration: none;
}
.row{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
/*--- Estilos para el encabezado --- */
header{
	width: 100%;
}
.sub-contenedor{
	padding-left: 15px;
	padding-right: 15px;
}
.logotipo{
	height: 120px;
	padding: 20px;
}
.logotipo img{
	width: 405px;
}
.usuario{
	font-size:25px;
	padding-top: 50px;
	float: right;
	font-family:'righteous';
	font-size: 20px;
}
.options .icono{
	height: 120px;
	float: right;
	padding:40px 0px 0px 10px;
	font-size: 40px;
	color:#33406A;
}
/* Estilos pop-up */
#modal input, #modal-2 input, #modal-3 input{
	border-bottom:1px solid #2A6378;
	border-radius: 4px;
	font-family: 'Helvetica';
	outline: none;
}
#modal label, #modal-2 label, #modal-3 label{
	margin-top: .5rem;
	margin-bottom: 0;
	color:#33406A;
	font-family: 'Helvetica';
}
.modal-title{
	padding-left: 30px;
}
.modal-title i{
	color: #33406A;
	padding-right: 10px;
}
.options .icono:hover{
	cursor: pointer;
	color:rgb(32, 39, 63);
}
.btn-outline-secondary {
    color:#2A6378;
    border-color:#2A6378;
}
.btn-outline-secondary:hover{
	color:#FFFFFF;
	background: #2A6378;
}
.btn-default{
	border-color:#2A6378;
	color:#2A6378;
}
.btn-default:hover{
	color:#2A6378
}
/* Estilos banderas - language */
.country{
	width: 32px;
}
.country-flag{
	padding:0 4px;
	border-radius: 5px;
	width:40px;
	margin: 47px 40px 0px 0px;
	float: right;
}
.country-flag:hover {
	box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.50);
}
.country-flag ul{
	position: relative;
	padding: 0;
	margin: 0;
}
.country-flag li:hover ul{
	display: block;
}
.country-flag li ul{
	display: none;
}
/* Estilos boton cerrar sesión */
.cerrar{
	height: 120px;
	padding: 45px 0 0 40px;
	float: right;
}
.cerrar button {
	font-family: 'Helvetica';
	font-size: 16px;
    color: #fff;
    background: black;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    border: none;
    text-align: center;
    line-height: 36px;
    padding: 0 16px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.cerrar button:hover{
	background: rgb(28, 30, 32);
}

/* --- Estilos para el menu --- */
#menu-2-zonas, #menu-2-users, #menu-2-pqrs, nav .user-account{
    display:none;
}
nav li ul,  nav .idioma, nav .logout, nav span {
	display: none;
}
nav{
	border-bottom: 5px solid #2A6378;
}
nav .borde-left{
	border-left: 1px solid rgba(255,255,255,.5);
}
nav a {
	color:#FFFFFF;
}
nav a:hover{	
	color:#FFFFFF;
}
nav li {
	line-height: 3.5rem;
	position: relative;
}
nav li ul{
	position: absolute;
}
nav li:hover >ul{
	display:block;
}
nav ul li:hover{
	background: #2A6378;      
}
/* Primer nivel */
nav ul{
	background: rgb(28, 30, 32);
	display: table;
	width: 100%;
}
nav ul li{
	display: inline-block;
	width:24.7%;
	text-align: center;
	transition: 0.8s all;
    font-family: Helvetica;
	font-size: 18px;
	border-bottom:1px solid rgba(255,255,255,.5);
}
/* Segundo nivel */
nav ul li ul li{
	width: 100%;
}
nav ul li ul{
	top:100%
}
/* Tercer nivel */
nav ul ul ul{
	right: 100%;
	top:0;
}
/* Boton para menú responsive */
.btn-menu{
    width: 60px;
    height: 60px;
    padding: 22px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #019CDE;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translateX(100px);
}
.btn-menu:hover{
    transform: scale(1.2);
    background: #42acfa;
}
/* --- Fin estilos menu --- */

section{	
	width: 100%; 
	height: 730px;
}
section iframe{
	width: 100%;
	height: 100%;
	border: 0;
}
/*--- Estilos footer ---*/
footer{
	height: 60px;
    background-color: rgb(28, 30, 32);
    clear: both;
    bottom: 0;
    width: 100%;
	z-index: 11;
}
footer .footer-interior {
    width: 100%;
    margin: auto;
    height: 60px;
}
footer i{
    color: white;
    padding: 15px 30px 0 0;
    font-size: 27px;
}
.redes{
	width: 20%;
	height:60px;
	float: left;
}
.redes li {
    width: 27px;
    height: 26px;
    float: left;
    margin-left: 25px;
}
.redes-2 li{
    float: right;
	margin-right: 27px;
	margin-left: 0;
}
footer .derechos{
	margin-top: 18px;
	font-family: 'helvetica';
	width:60%;
	height:42px;
	float: left;
	text-align: center;
}
footer .derechos p small{
	color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
}
#facebook:hover{
	color:#3b5998;
}
#whatsapp:hover{
	color: #00bb2d;
}
#instagram:hover{
	color: #f09433; 	
}
#twitter:hover{
	color:#00acee; 
}
/* --- Media Query --- */

/* Menu responsive */

@media screen and (max-width:1078px){
   #menu-1-zonas, #menu-1-users, #menu-1-pqrs{
        display:none;
    }
    #menu-2-zonas, #menu-2-users, #menu-2-pqrs{
        display: inline-block;
    }
}

@media screen and (max-width:900px){
    header .sub-contenedor .options .cerrar, header .sub-contenedor .options  .country-flag, #menu-2-zonas, #menu-2-users, #menu-2-pqrs{
        display:none;
	}
	nav ul li,#menu-1-zonas, #menu-1-users, #menu-1-pqrsnav, nav .idioma, nav .logout, nav span, nav .user-account {
		display:block;
	}
    header{
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.50);
	}
	nav{
		border-bottom:none;
		width: 75%;
		position: fixed;
		background:rgb(28, 30, 32);
		z-index: 100;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		height: 100vh;
		transform: translateX(-100%);
		transition: all .3s ease;
		overflow: scroll;
	}
	nav.active {
		transform: translateX(0%);
	}
	nav ul li{
		width: 100%;
		text-align: left;
	}
	nav ul li:hover .sub-submenu{
		display:none;
	}
	nav ul li .sub-submenu{
		z-index: 1000;
		position: relative;
		background: rgba(0,0,0,.50);
	}
	nav ul ul ul{
		right: 0;
	}	
	nav ul ul ul a {
		padding-left:40px;
	}
	nav li >ul{
		position: relative;
	} 
	.btn-menu{
        transform: translateX(0px);
	}	
	nav ul li a span, nav .logout span{
		margin-right:10px;
		float: left;
	}
	.logout:hover span{
		color:#2A6378;
	}
	nav .user-account{
		width: 100%;
		line-height: 2.5rem;
		text-align: center;
		color:#FFFFFF;
		background: #33406A;
		border: 10px solid rgb(28, 30, 32);
	}
	nav ul li:hover{
		background: #2A6378;      
	}
	nav .user-account i{
		font-size:100px;
		padding-top:10px;
	}
	nav .user-account h6{
		font-size:18px;
		font-family:'righteous';
		padding-top: 5px;
		padding-bottom: 5px;
	}
	nav .idioma{
		line-height: 3.5rem;
	}
	nav ul li a, .idioma, .logout {
		padding:10px;
		display:block;
	}
	nav ul li .sub-submenu li a {
		display: block;
		margin-left:40px;
	}
	nav ul li .down {
		position: relative;
		top:20px;
		margin-left:10px;
		margin-right:0px;
		float:right;
	}	
	nav ul li .span2{
		float: right;
	}
	.country{
		width: 35px;
	}
	nav .logout {
		font-family: Helvetica;
		font-size: 18px;
		line-height: 3.5rem;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
}

@media screen and (max-width:673px){
    header .sub-contenedor .options .usuario{
        display: none;
    }
}
@media screen and (max-width:499px){
    header .sub-contenedor .options{
        display: none;
}
}
@media screen and (max-width:430px){
	.logotipo img{
		width: 325px;
	}
}
@media screen and (max-width:851px){
	.consult-inscriptions{
		display:none;
	}
	.consult-inscriptions-2{
		display:block;
	}
}

/* Footer */
@media screen and (max-width: 684px){
	.redes{
		display: none;
	}
	footer .derechos{
		width: 100%;
	}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, 
.col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, 
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, 
.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, 
.col-xl-8, .col-xl-9, .col-xl-auto {
    position: static;
}

