.confi{
    background-color: transparent !important;
    width: 150px;
    height: 40px;
    font-size: 19px;
    border: solid  3px #33406A;
    transition: ease-in-out 0.5s;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    color: #33406A;
}

.container-fluid{
    margin-top: 3%;
    margin-bottom: 30%;
}
.confi:hover{
    transition: ease-in-out 0.5s;
    background-color: #33406A !important;
    color: white;
}
.confi2{
    background-color: #33406A !important;
    color: white;
}
.title-class{
    color: black !important;
    font-family: Righteous;
    font-size: 50px !important;
}
.popup-class{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
  @media screen and (max-width:800px){
    .circulo{display: none;}
    .isos{display: none;}
    .image-class{display: none;}
    .popup-class{padding-left:1%  !important;}
  }
  .dataTables_filter, .pagination{
    float: right;
  }
  @media screen and(max-width:600px){
      .container-fluid{margin-left: 0%}
  }