.confi{
    background-color: transparent !important;
    width: 150px;
    height: 40px;
    font-size: 19px;
    border: solid  3px #33406A;
    transition: ease-in-out 0.5s;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    color: #33406A;
}

.container-fluid{
    margin-top: 3%;
    margin-bottom: 30%;
}
.confi:hover{
    transition: ease-in-out 0.5s;
    background-color: #33406A !important;
    color: white;
}
.confi2{
    background-color: #33406A !important;
    color: white;
}
.circulo{/* estilos del poput de guardar*/
    background-color:darkcyan !important;
    width: 38%;
    height: 29vh;
    position: absolute;
    border-radius: 50%; 
    margin:-29%   -22%;
    z-index: 2;
    border:black solid 2px;
  }
  .title-class{
    color: black !important;
    font-family: helvetica;
  }
  .image-class{
    position: absolute;
    width: 160px;
    margin:-11% -49% !important;
  }
  .popup-class{border: solid black 2px !important;}
  .isos{
    font-size: 120px;
    position: absolute;
    margin:35px -70px !important;
    color: black; 
  }/*fin  estilos del poput de guardar*/

  @media screen and (max-width:800px){
    .circulo{display: none;}
    .isos{display: none;}
    .image-class{display: none;}
    .popup-class{padding-left:1%  !important;}
  }
  .dataTables_filter, .pagination{
    float: right;
  }