/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-jun-2020, 0:44:33
    Author     : Sebastian
*/
.titulazo{height: 17%;}
.inicioSeguridad{height: 140vh; margin-bottom: 2%}
.title-class{
    color: black !important;
    font-family: Righteous;
    font-size: 50px !important;
}
.icon-class{background-color: #3ed363;}
.popup-class{
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@media screen and (max-width:800px){
    .circulo{display: none;}
    .isos{display: none;}
    .image-class{display: none;}
    .popup-class{padding-left:1%  !important;}
    .titulazo{height: 50px;}
    .inicioSeguridad{height: 150vh !important;}
    .duque{margin-left: -27%}
  }
  @media screen and (max-width:600px){
      .titulazo{height: 90px;}
  }