.titulazo{height: 130px;}
.circulo{/* estilos del poput de guardar*/
    background-color:darkcyan;
    width: 36%; 
    height: 30vh;
    position: absolute;
    border-radius: 50%; 
    margin:-25% -30%;
    z-index: 2;
    border:black solid 2px;
  }
  .fortuna{background-color: #33406A; width: 39%; height: 33vh;}
  .title-class{
    color: black !important;
    font-family: helvetica;
  }
  .image-class{
    position: absolute;
    width: 160px;
    /* margin:-11% -55% !important; */
  }
  .popup-class{border: solid black 2px !important;}
  .isos2{font-size: 140px !important;}
  .isos{
    font-size: 120px;
    margin-top:35px;
    color: black; 
  }/*fin  estilos del poput de guardar*/
  @media screen and (max-width:800px){
    .circulo{display: none;}
    .isos{display: none;}
    .image-class{display: none;}
    .popup-class{padding-left:1%  !important;}
    .titulazo{height: 80px;}
    .inicioSeguridad{
        height: 101vh;
    }
  }