/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-jul-2020, 21:12:34
    Author     : Sebastian
*/
.map{
      font-size: 130px;
      margin-left: 29%;
  }
  .mn{margin-left: 25%;}
  .mm{margin-left: 20%;}
  .opciones{
      width: 95%;
      margin-left: 2.5%;
  }
  .agregar{width: 18.6%}
  h3{margin-top:18% !important; font-size: 31px !important}
@media screen and (max-width: 800px){/*inicio de responsive para tablet*/
    .map{font-size: 80px;}
    h3{font-size: 18px !important}
}
@media screen and (max-width: 600px){/*inicio de responsive para cel*/
    .agregar{width: 80%}
    .map{
        margin-left: 8%;
        margin-top: -1%;
    }
    h3{
        margin-top: -18% !important;
        margin-right: 7% !important;
        font-size: 31px !important;
    }
    .opciones{
        height: 140vh;
        padding-top: 3%;
    }
    .container-fluid{height: 170vh}
}