*{
  font-family: 'Helvetica';
}
h3, h4{
  color:#33406A;
}
.btn-secondary {
  background-color: transparent;
}
/*estilos para la tabla*/
table th {
    background-color:#2A6378 !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}
/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
    display: block;
}
.page-item.active .page-link {
  background-color:#33406A;
  border-color: #33406A;
}
.page-link {
  color:#33406A;
}
a {
  color:#2A6378;
}
/* Estilos botones para roles */
.btn-style{
  -webkit-transition-duration: 0.5s; 
  color:#2A6378;
  border-color: #2A6378;
  font-family: 'Righteous';
  border-radius: 6px;
}
.btn-toolbar .btn:hover {
  background-color: #2A6378;
  color: white;
}
form .font label{
  font-family: 'Righteous';
  font-size:1rem;
  color: #33406A;
}
@media screen and (max-width:523px){
  input[type=search]{
    margin-top:50px;
  }
}