*{
	font-family: 'Helvetica';
}
/* inicio de estilos de descripcion de zona */
svg{
  background:url("../../../img/bbq.jpg");
  background-size:cover;
  width:35vmin; 
  height:auto;
  display:block;
}
text{
  font-size:10px;
  transition:font-size .9s ease-out;
  font-weight:900;
  font-family:arial;
}
svg:hover text{
  transition:font-size .9s ease-in;
  font-size: 300px;
}
.sobree{
    margin: -2.5% 0% 4% 30%;
}
.contenidodescri{
    margin-top: 25px;
}

h3{
  color:#33406A;
  margin-bottom: 0;
}